
.vs/ProjectEvaluation/

.vs/WaifuImAPI-NET/DesignTimeBuild/

.vs/WaifuImAPI-NET/FileContentIndex/

.vs/WaifuImAPI-NET/v17/

WaifuImAPI-NET.Tests/bin/Debug/net6.0/

WaifuImAPI-NET/obj/

WaifuImAPI-NET.Tests/obj/Debug/net6.0/

WaifuImAPI-NET.Tests/obj/

WaifuImAPI-NET/bin/Debug/net6.0/

.env

WaifuImAPI-NET.Tests/bin/Release/net6.0/

WaifuImAPI-NET/bin/Debug/

WaifuImAPI-NET/bin/Release/net6.0/

WaifuImAPI-NET/bin/Release/

WaifuImAPI-NET/WaifuImAPI-NET - Backup.csproj
